body {
  font-size: 1.25em;
  font-family: 'Maven Pro', 'Open Sans', sans-serif;
  text-align: center;
  /*background-image: url("images/waves-simonschmidt-unsplash.jpeg");*/
}

.navbar-fixed {
  display: none;
}

.table-of-contents a {
  color: white;
}

.table-of-contents a:hover {
  color: rgb(36, 40, 55);
  border-left: 0;
  border-bottom: 1px solid rgb(36, 40, 55);
}

.table-of-contents a.active {
  border-left: 0;
  border-bottom: 2px solid rgb(36, 40, 55);
}

.parallax-container {
  height: 350px;
}

header {
  background-color: #fff;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

i {
  padding-top: 20px;
}

h1 {
  font-family: 'Rock Salt', 'Century Gothic', sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #0f6963;
}

img {
  max-width: 1080px;
}

.project {
  border-radius: 5px;
  padding: 15px;
}

footer li {
  display: inline-block;
  padding: 10px;
}

footer img {
  width: 32px;
}

footer a {
  color: black;
}

.sub-footer {
  padding: 5px 0;
  color: #d6d6d6;
}

@media (max-width: 400px){
  .parallax-container {
    display: none;
  }

  .tab {
    font-size: 12px;
  }
}
